@model IEnumerable<F6Ex2.DAL.Categorias>

@{
    ViewBag.Title = "Index";
}

<h2>Categorias de Produtos</h2>

<p>
    @Html.ActionLink("Nova Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*NOVO:*@
            @Html.ActionLink(item.Nome, "Index", "Produtos", new {categoria = item.Nome}, null)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
